
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.profile-page-D3m {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/sigmund-etgmffzrogc-unsplash-1-bg-neT.png');
  background-color: #ffffff;
}
.profile-page-D3m .auto-group-wptb-Yrj {
  box-sizing: border-box;
  padding: 2rem 4.2rem 0.6rem 1.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.25);
  flex-shrink: 0;
}
.profile-page-D3m .auto-group-wptb-Yrj .book-1-se7 {
  margin-right: 1.2rem;
  width: 9.6rem;
  height: 8.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.profile-page-D3m .auto-group-wptb-Yrj .study-together-1kK {
  margin: 0rem 54.5rem 1.3rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #000000;
  font-family: Adamina, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-page-D3m .auto-group-wptb-Yrj .home-8K9 {
  margin: 0.1rem 4.4rem 0rem 0rem;
  cursor: pointer;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #000000;
  font-family: Adamina, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-page-D3m .auto-group-wptb-Yrj .contact-us-Ed5 {
  margin: 0.3rem 4.1rem 0rem 0rem;
  cursor: pointer;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #000000;
  font-family: Adamina, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-page-D3m .auto-group-wptb-Yrj .about-us-xJB {
  margin-top: 0.3rem;
  cursor: pointer;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #000000;
  font-family: Adamina, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-page-D3m .auto-group-tz7h-5No {
  margin-right: 3.3rem;
  width: calc(100% - 3.3rem);
  height: 91.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.profile-page-D3m .auto-group-tz7h-5No .auto-group-8djf-oZh {
  width: 29.6015rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.profile-page-D3m .auto-group-tz7h-5No .auto-group-8djf-oZh .rectangle-38-LJj {
  opacity: 0.7;
  width: 29.6rem;
  height: 91.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(65, 59, 59, 0.6999999881);
}
.profile-page-D3m .auto-group-tz7h-5No .auto-group-8djf-oZh .line-5-4Ej {
  width: 29.6015rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 6.9rem;
  background-color: #ffffff;
}
.profile-page-D3m .auto-group-tz7h-5No .auto-group-8djf-oZh .line-6-BaF {
  width: 29.6015rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 14rem;
  background-color: #ffffff;
}
.profile-page-D3m .auto-group-tz7h-5No .auto-group-8djf-oZh .line-7-7Tu {
  width: 29.6015rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 21.6rem;
  background-color: #ffffff;
}
.profile-page-D3m .auto-group-tz7h-5No .auto-group-8djf-oZh .line-8-dh9 {
  width: 29.6015rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 28.6rem;
  background-color: #ffffff;
}
.profile-page-D3m .auto-group-tz7h-5No .auto-group-8djf-oZh .line-9-BCs {
  width: 29.6015rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 36.1rem;
  background-color: #ffffff;
}
.profile-page-D3m .auto-group-tz7h-5No .auto-group-8djf-oZh .create-new-team-iib {
  width: 22.5rem;
  height: 3.3rem;
  cursor: pointer;
  position: absolute;
  left: 2.6rem;
  top: 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Adamina, 'Source Sans Pro';
  white-space: nowrap;
}
.profile-page-D3m .auto-group-tz7h-5No .auto-group-8djf-oZh .subject-pWj {
  width: 8.6rem;
  height: 3.3rem;
  cursor: pointer;
  position: absolute;
  left: 10.1rem;
  top: 8.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Adamina, 'Source Sans Pro';
  white-space: nowrap;
}
.profile-page-D3m .auto-group-tz7h-5No .auto-group-8djf-oZh .recent-work-YBq {
  width: 14.8rem;
  height: 3.3rem;
  cursor: pointer;
  position: absolute;
  left: 7rem;
  top: 15.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Adamina, 'Source Sans Pro';
  white-space: nowrap;
}
.profile-page-D3m .auto-group-tz7h-5No .auto-group-8djf-oZh .drafts-3eP {
  width: 7.2rem;
  height: 3.3rem;
  cursor: pointer;
  position: absolute;
  left: 11rem;
  top: 23.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Adamina, 'Source Sans Pro';
  white-space: nowrap;
}
.profile-page-D3m .auto-group-tz7h-5No .auto-group-8djf-oZh .group-details-y2F {
  width: 16.1rem;
  height: 3.3rem;
  cursor: pointer;
  position: absolute;
  left: 6.2rem;
  top: 31.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Adamina, 'Source Sans Pro';
  white-space: nowrap;
}
.profile-page-D3m .auto-group-tz7h-5No .auto-group-8djf-oZh .line-10-ffm {
  width: 29.6015rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 88.2rem;
  background-color: #ffffff;
}
.profile-page-D3m .auto-group-tz7h-5No .auto-group-8djf-oZh .line-11-o1H {
  width: 29.6015rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 80.9rem;
  background-color: #ffffff;
}
.profile-page-D3m .auto-group-tz7h-5No .auto-group-8djf-oZh .settings-wNP {
  width: 9.2rem;
  height: 3.3rem;
  cursor: pointer;
  position: absolute;
  left: 9.5rem;
  top: 82.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Adamina, 'Source Sans Pro';
  white-space: nowrap;
}
.profile-page-D3m .auto-group-tz7h-5No .auto-group-tgy5-3AX {
  box-sizing: border-box;
  padding: 4.4rem 0rem 4.4rem 2.898rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.profile-page-D3m .auto-group-tz7h-5No .auto-group-tgy5-3AX .auto-group-6n55-NTh {
  margin-right: 49.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.profile-page-D3m .auto-group-tz7h-5No .auto-group-tgy5-3AX .auto-group-6n55-NTh .your-work--uyR {
  margin: 0rem 8.4rem 3rem 0rem;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #000000;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-page-D3m .auto-group-tz7h-5No .auto-group-tgy5-3AX .auto-group-6n55-NTh .auto-group-nhxj-pKh {
  margin-left: 4.4rem;
  box-sizing: border-box;
  padding: 3.5rem 3rem 3rem 3.6rem;
  width: 35.1rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3.5rem;
  flex-shrink: 0;
}
.profile-page-D3m .auto-group-tz7h-5No .auto-group-tgy5-3AX .auto-group-6n55-NTh .auto-group-nhxj-pKh .rectangle-40-8bH {
  width: 100%;
  height: 18.1rem;
  cursor: pointer;
  border: solid 0.1rem rgba(0, 0, 0, 0.5500000119);
  box-sizing: border-box;
  background-color: rgba(199, 169, 169, 0.5500000119);
}
.profile-page-D3m .auto-group-tz7h-5No .auto-group-tgy5-3AX .auto-group-6n55-NTh .recent-work-KJP {
  margin-left: 4.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #000000;
  font-family: Adamina, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-page-D3m .auto-group-tz7h-5No .auto-group-tgy5-3AX .auto-group-r2ek-eLf {
  margin-top: 2rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.profile-page-D3m .auto-group-tz7h-5No .auto-group-tgy5-3AX .auto-group-r2ek-eLf .auto-group-uwmh-nSs {
  margin-bottom: 5.3rem;
  width: 18.7rem;
  height: 7.6rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #000000;
  font-family: Adamina, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
  box-sizing: border-box;
  background-color: rgba(217, 217, 217, 0.6499999762);
  border-radius: 6rem;
  flex-shrink: 0;
}
.profile-page-D3m .auto-group-tz7h-5No .auto-group-tgy5-3AX .auto-group-r2ek-eLf .auto-group-nt1d-eEB {
  margin: 0rem 0.1rem 5.4rem 0rem;
  width: 18.7rem;
  height: 7.6rem;
  cursor: pointer;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #000000;
  font-family: Adamina, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: rgba(217, 217, 217, 0.6499999762);
  border-radius: 6rem;
  flex-shrink: 0;
}
.profile-page-D3m .auto-group-tz7h-5No .auto-group-tgy5-3AX .auto-group-r2ek-eLf .auto-group-tpr5-fQB {
  width: 18.7rem;
  height: 7.6rem;
  cursor: pointer;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #000000;
  font-family: Adamina, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
  box-sizing: border-box;
  background-color: rgba(217, 217, 217, 0.6499999762);
  border-radius: 6rem;
  flex-shrink: 0;
}
