
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.about-us-page-PiX {
  background-repeat: no-repeat;
  background-image: url('REPLACE_IMAGE:5a9e4064a4350fce3cd9f2ca983e6b70c77f9c04');
  background-color: rgba(255, 255, 255, 0.8000000119);
  overflow: hidden;
  position: relative;
  flex-direction: column;
  display: flex;
  background-size: 100% 100%;
  background-position: center;
  opacity: 0.8;
  width: 100%;
  align-items: center;

  .auto-group-lszo-vyM {
    box-sizing: border-box;
    padding: 2rem 4.2rem 0.6rem 1.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.25);
    flex-shrink: 0;

    .book-1-3YB {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 1.2rem;
      width: 9.6rem;
      height: 8.5rem;
      object-fit: cover;
    }
    .study-together-ywd {
      margin: 0rem 54.5rem 1.3rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.3625;
      color: #000000;
      font-family: Adamina, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .home-5Us {
      cursor: pointer;
      font-weight: 400;
      line-height: 1.3625;
      color: #000000;
      font-family: Adamina, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.1rem 4.4rem 0rem 0rem;
      font-size: 3.2rem;
    }
    .contact-us-PEf {
      font-family: Adamina, 'Source Sans Pro';
      margin: 0.3rem 4.1rem 0rem 0rem;
      cursor: pointer;
      font-size: 3.2rem;
      white-space: nowrap;
      flex-shrink: 0;
      font-weight: 400;
      line-height: 1.3625;
      color: #000000;
    }
    .about-us-gzT {
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.3rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.3625;
      color: #000000;
      font-family: Adamina, 'Source Sans Pro';
    }
  }
  .auto-group-jjkr-cdD {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 12.6rem 6.6rem 19.3rem 4.6rem;
    width: 100%;
    align-items: center;

    .auto-group-nnm5-XkB {
      box-sizing: border-box;
      padding: 0.9rem 1.85rem 0.8rem 1.05rem;
      width: calc(100% - 30.5rem);
      height: 33.6rem;
      background-color: rgba(71, 68, 68, 0.3000000119);
      border-radius: 2rem;
      flex-shrink: 0;
      margin: 0rem 14.8rem 6.9rem 15.7rem;

      .we-are-creating-a-world-where-everyone-enjoys-learning-Raf {
        font-weight: 400;
        line-height: 1.2625;
        color: #ffffff;
        font-family: Amethysta, 'Source Sans Pro';
        max-width: 99.4rem;
        text-align: center;
        font-size: 8.4rem;
      }
    }
    .auto-group-owjm-7Cb {
      box-sizing: border-box;
      padding: 1rem 1.15rem 0.9rem 1.35rem;
      width: 100%;
      height: 18.9rem;
      background-color: rgba(154, 149, 147, 0.400000006);
      border-radius: 1.5rem;
      flex-shrink: 0;

      .we-are-not-merely-crafting-study-together-as-a-platform-product-or-service-we-are-working-hard-to-make-study-together-asocial-learning-movement-built-on-avirtual-study-spacewhere-learners-areempowered-to-reach-their-full-potential-together-q8b {
        font-family: Andada Pro, 'Source Sans Pro';
        max-width: 130.3rem;
        text-align: center;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.1775;
        color: #000000;
      }
    }
  }
}
