
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.contact-us-page-mU3 {
  position: relative;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: center;
  background-image: url('REPLACE_IMAGE:5a9e4064a4350fce3cd9f2ca983e6b70c77f9c04');
  width: 100%;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;

  .auto-group-wzns-i8P {
    padding: 2rem 4.2rem 0.6rem 1.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.25);
    flex-shrink: 0;
    margin-bottom: 8.5rem;
    box-sizing: border-box;

    .book-1-2es {
      flex-shrink: 0;
      margin-right: 1.2rem;
      width: 9.6rem;
      height: 8.5rem;
      object-fit: cover;
      vertical-align: top;
    }
    .study-together-xoR {
      margin: 0rem 54.5rem 1.3rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.3625;
      color: #000000;
      font-family: Adamina, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .home-GZD {
      line-height: 1.3625;
      font-family: Adamina, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 3.2rem;
      cursor: pointer;
      font-weight: 400;
      color: #000000;
      flex-shrink: 0;
      margin: 0.1rem 4.4rem 0rem 0rem;
    }
    .contact-us-nXZ {
      flex-shrink: 0;
      margin: 0.3rem 4.1rem 0rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.3625;
      color: #000000;
      font-family: Adamina, 'Source Sans Pro';
      white-space: nowrap;
    }
    .about-us-7Zq {
      color: #000000;
      font-family: Adamina, 'Source Sans Pro';
      white-space: nowrap;
      margin-top: 0.3rem;
      cursor: pointer;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.3625;
      flex-shrink: 0;
    }
  }
  .auto-group-ptnf-S6K {
    width: calc(100% - 14.6rem);
    border: solid 0.1rem rgba(0, 0, 0, 0.6000000238);
    background-color: rgba(217, 217, 217, 0.6000000238);
    border-radius: 4.5rem;
    flex-shrink: 0;
    margin: 0rem 8.4rem 9.5rem 6.2rem;
    box-sizing: border-box;
    padding: 3.8rem 3.6rem 0.1rem 2.7rem;

    .welcome-to-study-together-where-global-collaboration-meets-education-were-excited-to-have-you-here-on-our-contact-us-page-at-the-heart-of-our-community-is-a-commitment-to-connecting-students-worldwide-for-collaborative-learning-whether-you-have-questions-success-stories-to-share-or-innovative-ideas-this-is-the-space-to-reach-out-explore-our-interactive-map-connect-with-team-members-and-use-the-contact-form-to-initiate-a-conversation-your-input-is-invaluable-and-were-eager-to-build-a-thriving-community-fueled-by-shared-knowledge-and-a-passion-for-learning-join-us-on-this-exciting-journey-of-connection-education-and-growth-8zj {
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.325;
      color: #000000;
      font-family: Abyssinica SIL, 'Source Sans Pro';
      max-width: 123.1rem;
    }
  }
  .auto-group-swxk-Zif {
    align-items: flex-start;
    border-top: solid 0.1rem #000000;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 31.2rem;
    display: flex;
    border: solid 0.1rem rgba(0, 0, 0, 0.75);
    background-color: rgba(177, 161, 161, 0.75);
    padding: 2.6rem 8.7rem 2.6rem 9.6rem;
    width: 100%;

    .auto-group-rq27-gYP {
      margin-right: 10.2rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .address-E47 {
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.2625;
        color: #000000;
        font-family: Amethysta, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 3.2rem 2.5rem;
      }
      .ahmedabad-gujrat-india-wz7 {
        max-width: 26.6rem;
        font-size: 2.8rem;
        font-weight: 400;
        line-height: 1.2625;
        color: #000000;
        font-family: Amethysta, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .auto-group-amgt-sMy {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0.3rem 8.7rem 0rem 0rem;
      align-items: center;
      display: flex;

      .phone-cKZ {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 1.1rem 1.9rem 0rem;
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.2625;
        color: #000000;
        font-family: Amethysta, 'Source Sans Pro';
      }
      .team-1234567890-service-1234567890-LFZ {
        font-weight: 400;
        line-height: 1.2625;
        color: #000000;
        font-family: Amethysta, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 29.3rem;
        font-size: 2.8rem;
      }
    }
    .auto-group-37vr-FdR {
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      display: flex;

      .email-oQ3 {
        flex-shrink: 0;
        margin: 0rem 0.7rem 1.2rem 0rem;
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.2625;
        color: #000000;
        font-family: Amethysta, 'Source Sans Pro';
        white-space: nowrap;
      }
      .studytogethergmailcom-team-vsgteamgmailcom-vzT {
        flex-shrink: 0;
        max-width: 35.3rem;
        font-size: 2.8rem;
        font-weight: 400;
        line-height: 1.2625;
        color: #000000;
        font-family: Amethysta, 'Source Sans Pro';
      }
    }
  }
}
