
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.group-page-1kB {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  background-size: 100% 100%;
  background-position: center;
  padding-bottom: 10.2rem;
  flex-direction: column;
  background-repeat: no-repeat;
  background-image: url('REPLACE_IMAGE:5a9e4064a4350fce3cd9f2ca983e6b70c77f9c04');
  background-color: #ffffff;

  .auto-group-b3ex-Yk7 {
    background-color: rgba(217, 217, 217, 0.25);
    flex-shrink: 0;
    margin-bottom: 6.9rem;
    box-sizing: border-box;
    padding: 2rem 4.2rem 0.6rem 1.4rem;
    width: 100%;
    display: flex;
    align-items: center;

    .book-1-4Cf {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 1.2rem;
      width: 9.6rem;
      height: 8.5rem;
      object-fit: cover;
    }
    .study-together-ago {
      font-weight: 400;
      line-height: 1.3625;
      color: #000000;
      font-family: Adamina, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 54.5rem 1.3rem 0rem;
      font-size: 3.2rem;
    }
    .home-HbD {
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.3625;
      color: #000000;
      font-family: Adamina, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.1rem 4.4rem 0rem 0rem;
      cursor: pointer;
    }
    .contact-us-Pu9 {
      font-family: Adamina, 'Source Sans Pro';
      white-space: nowrap;
      cursor: pointer;
      color: #000000;
      font-weight: 400;
      line-height: 1.3625;
      flex-shrink: 0;
      margin: 0.3rem 4.1rem 0rem 0rem;
      font-size: 3.2rem;
    }
    .about-us-huq {
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.3625;
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.3rem;
      cursor: pointer;
      color: #000000;
      font-family: Adamina, 'Source Sans Pro';
    }
  }
  .auto-group-7c5m-ohy {
    position: relative;
    background-color: rgba(217, 217, 217, 0.6000000238);
    flex-shrink: 0;
    border-radius: 2rem;
    margin: 0rem 17rem 0rem 14.8rem;
    width: calc(100% - 31.8rem);
    height: 74.2rem;
    border: solid 0.1rem rgba(0, 0, 0, 0.6000000238);
    box-sizing: border-box;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

    .group-details--Vqh {
      font-family: Adamina, 'Source Sans Pro';
      white-space: nowrap;
      height: 5.5rem;
      position: absolute;
      top: 2.8rem;
      color: #000000;
      line-height: 1.3625;
      width: 28.8rem;
      left: 3.1rem;
      font-size: 4rem;
      font-weight: 400;
    }
    .create-a-group--PgB {
      width: 31.2rem;
      left: 3.1rem;
      top: 26.3rem;
      font-family: Adamina, 'Source Sans Pro';
      color: #000000;
      white-space: nowrap;
      height: 5.5rem;
      position: absolute;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.3625;
    }
    .auto-group-oqx1-64o {
      width: 81.2rem;
      height: 6.5rem;
      position: absolute;
      left: 11.6rem;
      top: 12.2rem;
      display: flex;
      align-items: center;

      .auto-group-kxlj-zvs {
        font-family: Adamina, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        border: solid 0.1rem rgba(0, 0, 0, 0.75);
        border-radius: 5rem;
        height: 100%;
        font-size: 3.2rem;
        font-weight: 400;
        box-sizing: border-box;
        background-color: rgba(217, 217, 217, 0.75);
        width: 34.9rem;
        white-space: nowrap;
        margin-right: 11.4rem;
        line-height: 1.3625;
        color: #000000;
        align-items: center;
        flex-shrink: 0;
      }
      .auto-group-nr87-qgb {
        height: 100%;
        font-weight: 400;
        line-height: 1.3625;
        color: #000000;
        border-radius: 5rem;
        justify-content: center;
        background-color: rgba(217, 217, 217, 0.75);
        width: 34.9rem;
        font-size: 3.2rem;
        font-family: Adamina, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        border: solid 0.1rem rgba(0, 0, 0, 0.75);
        box-sizing: border-box;
      }
    }
    .auto-group-xhex-WGw {
      align-items: center;
      width: 81.2rem;
      height: 6.5rem;
      position: absolute;
      left: 11.6rem;
      top: 33.9rem;
      display: flex;

      .auto-group-dm8b-dsM {
        display: flex;
        align-items: center;
        font-size: 3rem;
        color: #000000;
        font-family: Adamina, 'Source Sans Pro';
        justify-content: center;
        width: 34.9rem;
        font-weight: 400;
        line-height: 1.3625;
        white-space: nowrap;
        background-color: rgba(217, 217, 217, 0.75);
        flex-shrink: 0;
        height: 100%;
        border: solid 0.1rem rgba(0, 0, 0, 0.75);
        box-sizing: border-box;
        border-radius: 5rem;
        margin-right: 11.4rem;
      }
      .auto-group-okfu-6kw {
        font-size: 3rem;
        font-family: Adamina, 'Source Sans Pro';
        width: 34.9rem;
        line-height: 1.3625;
        white-space: nowrap;
        flex-shrink: 0;
        font-weight: 400;
        display: flex;
        justify-content: center;
        border: solid 0.1rem rgba(0, 0, 0, 0.75);
        height: 100%;
        color: #000000;
        align-items: center;
        box-sizing: border-box;
        background-color: rgba(217, 217, 217, 0.75);
        border-radius: 5rem;
      }
    }
    .auto-group-fey5-ms5 {
      width: 81.2rem;
      height: 6.5rem;
      position: absolute;
      left: 11.6rem;
      top: 44.3rem;
      display: flex;
      align-items: center;

      .auto-group-pnzv-uTV {
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 3rem;
        margin-right: 11.4rem;
        width: 34.9rem;
        color: #000000;
        display: flex;
        border: solid 0.1rem rgba(0, 0, 0, 0.75);
        box-sizing: border-box;
        background-color: rgba(217, 217, 217, 0.75);
        font-weight: 400;
        line-height: 1.3625;
        font-family: Adamina, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 5rem;
        flex-shrink: 0;
      }
      .auto-group-3xd5-yTM {
        justify-content: center;
        border-radius: 5rem;
        width: 34.9rem;
        font-weight: 400;
        line-height: 1.3625;
        font-size: 3rem;
        color: #000000;
        display: flex;
        height: 100%;
        background-color: rgba(217, 217, 217, 0.75);
        border: solid 0.1rem rgba(0, 0, 0, 0.75);
        box-sizing: border-box;
        flex-shrink: 0;
        font-family: Adamina, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
      }
    }
    .auto-group-2erv-eZV {
      white-space: nowrap;
      left: 28.6rem;
      line-height: 1.3625;
      font-family: Adamina, 'Source Sans Pro';
      align-items: center;
      border-radius: 5rem;
      height: 6.5rem;
      color: #000000;
      display: flex;
      border: solid 0.1rem rgba(0, 0, 0, 0.75);
      box-sizing: border-box;
      position: absolute;
      font-size: 3rem;
      font-weight: 400;
      background-color: rgba(217, 217, 217, 0.75);
      width: 51.8rem;
      top: 63.5rem;
      justify-content: center;
    }
    .auto-group-vns9-iJT {
      position: absolute;
      left: 0.2rem;
      top: 20rem;
      width: 112rem;
      height: 4.4rem;

      .line-1-FJP {
        height: 0;
        position: absolute;
        left: 0;
        top: 2.35rem;
        object-fit: contain;
        vertical-align: top;
        width: 112rem;
      }
      .or-aLf {
        height: 4.4rem;
        position: absolute;
        left: 49.4rem;
        top: 0;
        color: #000000;
        white-space: nowrap;
        width: 5.2rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.3625;
        font-family: Adamina, 'Source Sans Pro';
      }
    }
    .auto-group-vj23-t6T {
      height: 4.4rem;
      position: absolute;
      left: 0;
      top: 54.8rem;
      width: 112rem;

      .line-2-co9 {
        vertical-align: top;
        width: 112rem;
        height: 0;
        position: absolute;
        left: 0;
        top: 2.35rem;
        object-fit: contain;
      }
      .or-ZiP {
        left: 49.4rem;
        top: 0;
        font-size: 3.2rem;
        line-height: 1.3625;
        color: #000000;
        white-space: nowrap;
        width: 5.2rem;
        position: absolute;
        font-family: Adamina, 'Source Sans Pro';
        height: 4.4rem;
        font-weight: 400;
      }
    }
  }
}
