
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.home-page-s99 {
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  align-items: center;
  overflow: hidden;
  position: relative;
  display: flex;
  background-size: 100% 100%;
  background-image: url('REPLACE_IMAGE:5a9e4064a4350fce3cd9f2ca983e6b70c77f9c04');
  width: 100%;

  .auto-group-r9dz-RAf {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.25);
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2rem 4.2rem 0.6rem 1.4rem;

    .book-1-96f {
      height: 8.5rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 1.2rem;
      width: 9.6rem;
    }
    .study-together-Gwy {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 54.5rem 1.3rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.3625;
      color: #000000;
      font-family: Adamina, 'Source Sans Pro';
    }
    .home-P11 {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.1rem 4.9rem 0rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.3625;
      color: #000000;
      font-family: Adamina, 'Source Sans Pro';
    }
    .contact-us-i3H {
      font-weight: 400;
      line-height: 1.3625;
      font-family: Adamina, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.3rem 4.4rem 0rem 0rem;
      cursor: pointer;
      font-size: 3.2rem;
      color: #000000;
    }
    .about-us-1o5 {
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.3625;
      font-family: Adamina, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.3rem;
      cursor: pointer;
      color: #000000;
    }
  }
  .auto-group-ajph-jDH {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.7rem 4.1rem 13.9rem 22.5rem;
    width: 100%;
    align-items: center;

    .auto-group-vef1-T9H {
      width: 6.2rem;
      height: 6rem;
      white-space: nowrap;
      justify-content: center;
      background-size: cover;
      background-position: center;
      font-size: 3.2rem;
      line-height: 1.38;
      color: #000000;
      align-items: center;
      background-image: url('REPLACE_IMAGE:58:16');
      margin: 0rem 0rem 14.1rem 111.2rem;
      font-weight: 400;
      display: flex;
      font-family: Alata, 'Source Sans Pro';
      background-repeat: no-repeat;
      flex-shrink: 0;
    }
    .auto-group-xyyh-iL7 {
      padding: 2.5rem 8.15rem 1.1rem 8.35rem;
      width: 97.5rem;
      height: 27.8rem;
      background-color: rgba(49, 65, 41, 0.400000006);
      border-radius: 5.5rem;
      flex-shrink: 0;
      margin: 0rem 19.9rem 2.5rem 0rem;
      box-sizing: border-box;

      .welcome-to-your-virtual-study-group-cgP {
        font-size: 9.6rem;
        font-weight: 600;
        line-height: 1.2575;
        color: #000000;
        font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
        max-width: 81rem;
        text-align: center;
      }
    }
    .auto-group-n8bh-7d9 {
      width: 88.55rem;
      height: 11.7rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 20.05rem 4.1rem 0rem;

      .rectangle-3-3Fu {
        left: 0;
        top: 0;
        background-color: rgba(133, 134, 61, 0.25);
        opacity: 0.25;
        width: 88rem;
        height: 11.7rem;
        position: absolute;
      }
      .study-together-is-the-new-way-to-connect-and-focus-with-other-students-from-all-over-the-world-ZV9 {
        font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
        height: 10.1rem;
        position: absolute;
        top: 1.4rem;
        font-weight: 600;
        line-height: 1.2575;
        color: #000000;
        width: 88.3rem;
        left: 0.25rem;
        text-align: center;
        font-size: 4rem;
      }
    }
    .auto-group-euqf-QEs {
      width: calc(100% - 64.9rem);
      height: 7.5rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 44.7rem 0rem 20.2rem;

      .auto-group-rcmm-Woh {
        height: 100%;
        font-family: Alata, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
        width: 23.3rem;
        font-size: 3.6rem;
        line-height: 1.38;
        white-space: nowrap;
        margin-right: 6rem;
        font-weight: 400;
        flex-shrink: 0;
        color: #000000;
        display: flex;
        background-color: rgba(255, 255, 255, 0.6000000238);
        border-radius: 5rem;
      }
      .auto-group-yay5-zTy {
        border-radius: 5rem;
        height: 100%;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.6000000238);
        font-weight: 400;
        align-items: center;
        display: flex;
        flex-shrink: 0;
        font-size: 3.6rem;
        line-height: 1.38;
        font-family: Alata, 'Source Sans Pro';
        width: 23.2rem;
        color: #000000;
        white-space: nowrap;
      }
    }
  }
}
