
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.log-in-page-vjh {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  flex-direction: column;
  background-size: 100% 100%;
  padding-bottom: 6.9rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  background-image: url('REPLACE_IMAGE:5a9e4064a4350fce3cd9f2ca983e6b70c77f9c04');

  .auto-group-8zwh-rtF {
    flex-shrink: 0;
    margin-bottom: 4rem;
    box-sizing: border-box;
    padding: 2rem 108.3rem 0.6rem 1.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.25);

    .book-1-Atw {
      margin-right: 1.2rem;
      width: 9.6rem;
      height: 8.5rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .study-together-JkF {
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.3rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.3625;
      color: #000000;
      font-family: Adamina, 'Source Sans Pro';
    }
  }
  .auto-group-s5hq-Bp3 {
    border: solid 0.1rem rgba(0, 0, 0, 0.75);
    border-radius: 2rem;
    flex-shrink: 0;
    margin: 0rem 36.3rem 0rem 38.5rem;
    box-sizing: border-box;
    padding: 1.8rem 8.8rem 3.7rem 5.1rem;
    width: calc(100% - 74.8rem);
    background-color: rgba(217, 217, 217, 0.75);
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

    .login-3rF {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 2.5rem 0.8rem;
      font-size: 4.8rem;
      font-weight: 400;
      line-height: 1.215;
      color: #000000;
      font-family: Average, 'Source Sans Pro';
      text-align: center;
    }
    .email-kEs {
      font-size: 3.6rem;
      line-height: 1.215;
      text-align: center;
      font-weight: 400;
      color: #000000;
      font-family: Average, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 45.6rem 1.9rem 0rem;
    }
    .rectangle-7-rYo {
      width: 54.6rem;
      height: 6.1rem;
      border: solid 0.1rem rgba(0, 0, 0, 0.6000000238);
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: rgba(217, 217, 217, 0.6000000238);
      flex-shrink: 0;
      margin: 0rem 0rem 3.4rem 0.7rem;
    }
    .password-Xew {
      line-height: 1.215;
      font-family: Average, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 41.3rem 1.9rem 0rem;
      text-align: center;
      font-size: 3.6rem;
      font-weight: 400;
      color: #000000;
      flex-shrink: 0;
    }
    .rectangle-8-SG7 {
      border: solid 0.1rem rgba(0, 0, 0, 0.6000000238);
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: rgba(217, 217, 217, 0.6000000238);
      flex-shrink: 0;
      margin: 0rem 0rem 3.1rem 0.7rem;
      width: 54.6rem;
      height: 6.1rem;
    }
    .auto-group-8k3h-XYT {
      margin: 0rem 24.05rem 3.6rem 0.7rem;
      width: calc(100% - 24.75rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-uh3d-42b {
        margin: 0rem 3.1rem 0.3rem 0rem;
        width: 3.15rem;
        height: 4.4rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-9-ArK {
          left: 0;
          top: 1rem;
          background-color: #ffffff;
          width: 3rem;
          height: 3rem;
          position: absolute;
        }
        .item--u3D {
          width: 3.1rem;
          position: absolute;
          line-height: 1.215;
          font-family: Average, 'Source Sans Pro';
          height: 4.4rem;
          left: 0.05rem;
          top: 0;
          text-align: center;
          font-size: 3.6rem;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
        }
      }
      .remember-me--aQF {
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.215;
        color: #000000;
        margin-top: 0.3rem;
        text-align: center;
        flex-shrink: 0;
        font-family: Average, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-rprw-Vn7 {
      margin: 0rem 8.2rem 1.1rem 8.9rem;
      color: #000000;
      white-space: nowrap;
      align-items: center;
      font-weight: 400;
      display: flex;
      background-color: rgba(98, 139, 46, 0.5);
      width: calc(100% - 17.1rem);
      text-align: center;
      font-size: 4rem;
      line-height: 1.215;
      font-family: Average, 'Source Sans Pro';
      justify-content: center;
      height: 8.5rem;
      border-radius: 2rem;
      flex-shrink: 0;
    }
    .forget-password--LXq {
      margin: 0rem 0rem 5.6rem 0.7rem;
      line-height: 1.215;
      font-family: Average, 'Source Sans Pro';
      flex-shrink: 0;
      text-align: center;
      font-size: 3.2rem;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
    }
    .dont-have-an-account-sign-up-Sqm {
      max-width: 32.8rem;
      cursor: pointer;
      font-family: Average, 'Source Sans Pro';
      flex-shrink: 0;
      margin-left: 1.4rem;
      text-align: center;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.215;
      color: #000000;
    }
  }
}
