
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.subject-page-7WF {
  width: 100%;
  flex-direction: column;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  background-size: 100% 100%;
  background-position: center;
  background-image: url('REPLACE_IMAGE:5a9e4064a4350fce3cd9f2ca983e6b70c77f9c04');
  background-color: #ffffff;

  .auto-group-l8qd-f1y {
    box-sizing: border-box;
    padding: 2rem 4.2rem 0.6rem 1.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.25);
    flex-shrink: 0;

    .book-1-n6b {
      margin-right: 1.2rem;
      width: 9.6rem;
      height: 8.5rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .study-together-XK5 {
      color: #000000;
      font-family: Adamina, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 54.5rem 1.3rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.3625;
    }
    .home-SB9 {
      margin: 0.1rem 4.4rem 0rem 0rem;
      cursor: pointer;
      line-height: 1.3625;
      color: #000000;
      flex-shrink: 0;
      font-size: 3.2rem;
      font-weight: 400;
      font-family: Adamina, 'Source Sans Pro';
      white-space: nowrap;
    }
    .contact-us-M3D {
      font-size: 3.2rem;
      font-weight: 400;
      color: #000000;
      font-family: Adamina, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      line-height: 1.3625;
      margin: 0.3rem 4.1rem 0rem 0rem;
    }
    .about-us-GR5 {
      line-height: 1.3625;
      font-family: Adamina, 'Source Sans Pro';
      font-size: 3.2rem;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.3rem;
      cursor: pointer;
    }
  }
  .auto-group-jhxj-PVh {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 12.6rem 5.1rem 9.1rem 6.2rem;

    .auto-group-alru-hmH {
      margin: 0rem 33.8rem 13.7rem 30.6rem;
      padding: 1.5rem 4.3rem 1.5rem 3.1rem;
      display: flex;
      align-items: center;
      background-color: rgba(217, 217, 217, 0.6499999762);
      box-sizing: border-box;
      width: calc(100% - 64.4rem);
      border-radius: 5rem;
      flex-shrink: 0;

      .item--QQo {
        margin: 0.1rem 3.8rem 0rem 0rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.3625;
        color: #000000;
        font-family: Adamina, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .search-a-subject-you-want-to-learn-uMZ {
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.3625;
        color: #000000;
        font-family: Adamina, 'Source Sans Pro';
      }
    }
    .auto-group-hrif-bVH {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 4.3rem;
      width: 100%;
      height: 8.3rem;

      .auto-group-vunx-LSs {
        font-weight: 400;
        white-space: nowrap;
        display: flex;
        background-color: rgba(71, 68, 68, 0.6999999881);
        height: 100%;
        align-items: center;
        border-radius: 4rem;
        margin-right: 10.8rem;
        font-size: 3.2rem;
        line-height: 1.38;
        color: #ffffff;
        font-family: Alata, 'Source Sans Pro';
        justify-content: center;
        flex-shrink: 0;
        width: 36rem;
      }
      .auto-group-rfxb-obM {
        font-size: 3.2rem;
        align-items: center;
        margin-right: 13.9rem;
        font-weight: 400;
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        color: #ffffff;
        font-family: Alata, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 4rem;
        width: 36rem;
        height: 100%;
        line-height: 1.38;
        background-color: rgba(71, 68, 68, 0.6999999881);
      }
      .auto-group-g1wm-Vyy {
        width: 36rem;
        font-size: 3.2rem;
        line-height: 1.38;
        font-family: Alata, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        border-radius: 4rem;
        height: 100%;
        color: #ffffff;
        font-weight: 400;
        display: flex;
        justify-content: center;
        background-color: rgba(71, 68, 68, 0.6999999881);
        flex-shrink: 0;
      }
    }
    .auto-group-yxeo-ny5 {
      margin-bottom: 5rem;
      width: 100%;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .auto-group-tdc3-YBZ {
        width: 36rem;
        height: 8.3rem;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 10.8rem 0.9rem 0rem;
        font-size: 3.2rem;
        font-weight: 400;
        justify-content: center;
        border-radius: 4rem;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        background-color: rgba(71, 68, 68, 0.6999999881);
        line-height: 1.38;
        font-family: Alata, 'Source Sans Pro';
      }
      .auto-group-hmp3-QDm {
        white-space: nowrap;
        width: 36rem;
        font-size: 3.2rem;
        font-family: Alata, 'Source Sans Pro';
        margin-right: 13.9rem;
        height: 8.3rem;
        justify-content: center;
        border-radius: 4rem;
        flex-shrink: 0;
        color: #ffffff;
        display: flex;
        align-items: center;
        font-weight: 400;
        line-height: 1.38;
        background-color: rgba(71, 68, 68, 0.6999999881);
      }
      .auto-group-qk4s-5ao {
        flex-shrink: 0;
        width: 36rem;
        font-size: 3.2rem;
        font-family: Alata, 'Source Sans Pro';
        border-radius: 4rem;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        font-weight: 400;
        line-height: 1.38;
        background-color: rgba(71, 68, 68, 0.6999999881);
        height: 8.3rem;
        align-items: center;
        justify-content: center;
      }
    }
    .auto-group-zzgo-mTd {
      flex-shrink: 0;
      margin-bottom: 4.8rem;
      width: 100%;
      display: flex;
      align-items: flex-start;

      .auto-group-duom-iNs {
        height: 8.3rem;
        font-family: Alata, 'Source Sans Pro';
        margin: 0.1rem 10.8rem 0rem 0rem;
        display: flex;
        justify-content: center;
        background-color: rgba(71, 68, 68, 0.6999999881);
        border-radius: 4rem;
        width: 36rem;
        color: #ffffff;
        flex-shrink: 0;
        font-weight: 400;
        line-height: 1.38;
        white-space: nowrap;
        align-items: center;
        font-size: 3.2rem;
      }
      .auto-group-6g3q-nNj {
        font-family: Alata, 'Source Sans Pro';
        display: flex;
        align-items: center;
        margin-right: 13.9rem;
        width: 36rem;
        font-weight: 400;
        line-height: 1.38;
        color: #ffffff;
        flex-shrink: 0;
        height: 8.3rem;
        white-space: nowrap;
        justify-content: center;
        font-size: 3.2rem;
        background-color: rgba(71, 68, 68, 0.6999999881);
        border-radius: 4rem;
      }
      .auto-group-msyo-fSX {
        font-size: 3.2rem;
        color: #ffffff;
        font-family: Alata, 'Source Sans Pro';
        justify-content: center;
        background-color: rgba(71, 68, 68, 0.6999999881);
        height: 8.3rem;
        font-weight: 400;
        white-space: nowrap;
        border-radius: 4rem;
        flex-shrink: 0;
        width: 36rem;
        line-height: 1.38;
        display: flex;
        align-items: center;
      }
    }
    .auto-group-iznx-kym {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .auto-group-ffgt-7JX {
        height: 8.3rem;
        font-family: Alata, 'Source Sans Pro';
        display: flex;
        background-color: rgba(71, 68, 68, 0.6999999881);
        margin: 0.1rem 10.8rem 0rem 0rem;
        width: 36rem;
        color: #ffffff;
        border-radius: 4rem;
        font-size: 3.2rem;
        line-height: 1.38;
        white-space: nowrap;
        justify-content: center;
        font-weight: 400;
        align-items: center;
        flex-shrink: 0;
      }
      .auto-group-a2mu-aC7 {
        line-height: 1.38;
        display: flex;
        width: 36rem;
        align-items: center;
        flex-shrink: 0;
        margin-right: 13.9rem;
        font-family: Alata, 'Source Sans Pro';
        white-space: nowrap;
        justify-content: center;
        border-radius: 4rem;
        height: 8.3rem;
        font-size: 3.2rem;
        font-weight: 400;
        color: #ffffff;
        background-color: rgba(71, 68, 68, 0.6999999881);
      }
      .auto-group-pogs-EXZ {
        height: 8.3rem;
        width: 36rem;
        white-space: nowrap;
        justify-content: center;
        background-color: rgba(71, 68, 68, 0.6999999881);
        font-size: 3.2rem;
        line-height: 1.38;
        align-items: center;
        font-weight: 400;
        color: #ffffff;
        font-family: Alata, 'Source Sans Pro';
        display: flex;
        border-radius: 4rem;
        flex-shrink: 0;
      }
    }
  }
}
